@import '../../../scss/colors.scss';

.root{
    min-width: 100%;
    min-height: fit-content;
    &::after{
        content: '';
        background: rgba($color: $dark, $alpha: 0.1);
    }
}
h1 {
    letter-spacing: 1rem;
}
.root, .root::after, .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // height: 100vh;
}

.img {
    object-fit: cover;
}

.title{
    max-width: 15em;
}
.subtitle{
    max-width: 25em;
}