.img{
    width: 30rem;
    background: url('../../../assets/3.jpeg') center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        display: block;
        padding-top: 110%;
    }

}

.main {
    width: 80%;
}

// @media (min-width: 991px) {
//     // .main {
//     //     margin-left: -12rem;
//     //     padding-left: 12rem;
//     // }

// }

@media (max-width: 991px) {
    .img {
        display: none;
    }
    .main {
        margin-left: 10rem;
    }
}
@media  screen and (max-width: 450px) {
    .main {
        margin-left: 7rem;
        width: 100%;
    }
}
    
