@import '../../../scss/colors.scss';

.sidebar {
    height: 100vh ;
}
#hamburger-icon {
    height: 30vh;
    width: 15%;
    align-items: center;
    justify-content: flex-start;
    display: inline-flex;

}

.logo {
    height: 5rem;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
}

.nav-container {
    i {
        color: white;
    }
}
// .root{
//     &.notVisible{
//         .logo {
//             visibility: hidden;
//             opacity: 0;
//         }
//     }
//     &:not(.notVisible){
//         background: $light;
//     }
// }

// @media (max-width: 750px) {
//     .logo {
//         height: 4rem;
//     }
// }