.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
    // background: rgba(40, 53, 128, 1);
}
.card {
    background: white;
    padding:1rem 2rem ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    min-width: 23%;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1);
    h2 {

        color: seagreen;
        font-weight: bolder;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;
        span {
            color:rgba(40, 53, 128, 1);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        li {
            padding: 0.5rem 0;
            font-size: 1rem;
            color: black;
            span {
                font-size: 1.1;
                font-weight: bold;
            }
        }
    }
}