$height: 6rem;

.nav-height {
    position:absolute;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    height: $height;
    &.active {
        height: $height - 1rem;
    }
}
.nav-padding {
    padding-top: $height;
}
.HeaderV2 {
    // position: sticky;
    top: 0;
    z-index: 4;
    transition-delay: 0.3s;
    max-height: $height;
    &, * {
        transition: linear 0.5s all;
    }
    &.active {
        max-height: 100vh;

    }
}

@media (max-width: 900px) {
    .HeaderV2 {
        max-height: $height - 1rem;
        &.active {
            .nav-height {
                height: $height - 2rem;
            }
        }
    }
    .nav-height {
        height: $height - 1rem;
    }
    .nav-padding {
        padding-top: $height - 1rem;
    }
}