@import '../../../scss/colors.scss';
.nav-links-container {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: white;
    left: -500px;
    max-width: 40%; 
    height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem;
    transition: 0.3 ease all;
    .menu-container {
        padding-top: 4rem;  
    }
    i {
        color: black;
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
    }
    &.active {
        left: 0;
    }
    h2 { 
        margin: 1rem 0;
        &::before {
            content: "-";
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            z-index: inherit;
            cursor: pointer;
            transition: ease-in-out 0.3s ;
            transform:scale(1) ;
            &:hover{
                // transform: scale(1.1) ;
                margin-left: 0.5rem;
                span {
                    color: black;
                }
            }
        }
        
    }
}
.root{
    transition: linear 0.3s all;
    max-height: 1000px;
    border-top: 1px solid $grey-lighten-3;
    &:not(.active) {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
}


.links{
    padding: 4rem;
    h2 {
        margin: 0 0 2rem 0;
    }
    >ul {
        padding: 0;
        list-style-type: none;
        margin: 0;
        display: grid;
        gap: 0.5rem;
        a {
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                height: 0.15em;
                background: $primary;
                transition: linear 0.2s all;
                width: 0;
                margin-top: 0.2em;
            }
            &:hover, &[class *= "active"] {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &:not(:last-child) {
        border-right: 1px solid $grey-lighten-3;
    }
}
@media (max-width: 1050px) {
    .links {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    .links {
        padding: 1.5rem;
        border: none !important;
    }
}
@media (max-width: 767px) {
    .nav-links-container{
        max-width: 100vw;
    }
    .menu {
        overflow: auto;
    }
    .links {
        padding: 1rem 0;
    }
}