.root{
    transition: linear 0.3s all;
    overflow:  hidden;
    background-color: white;
    &::-webkit-scrollbar {
        height: 0;
    }
    &.active{
        scroll-behavior: smooth;
    }
    >* {
        &:first-child [class *= "prev-btn"]{
            display: none;
        }
        &:last-child [class *= "next-btn"]{
            display: none;
        }
    }

}
.myVideo {
    position: absolute;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    z-index: 1;
}